.about{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.about-quotes-container{
    padding: 8px 0;
    margin-bottom: 24px;
    max-width: 360px;
}

strong{
    font-size: 28px;
    color: rgb(161, 161, 161);
    font-family: var(--secondary-fonts);
}

.about-quotes{
    font-family: var(--secondary-fonts);
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 10px;
}

.about-quotes-author{
    display: flex;
    justify-content: flex-end;
}

.about-content-container{
    width: 60%;
    margin: 24px;
    padding: 8px;
}

.about-content{
    line-height: 30px;
    text-align: justify;
}

.about-content-extra{
    font-size: 18px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
}

.tech-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 12px;
}

.tech-header{
    font-size: 36px;
    font-family: var(--secondary-fonts);
    margin: 24px 0;
}

.tech-icons{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.icon{
    font-size: 48px;
}

.icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 5px;
}

.icon-container p {
    line-height: 24px;
}

@media screen and (max-width: 960px){
    .about-content-container{
        width: 90%;
    }

    .icon{
        font-size: 36px;
    }
}