.section{
    width: 100%;
    min-height: 90vh;
    padding: 128px 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
}

.dark{
    background-color: var(--dark-blue);
}

.red{
    background-color: var(--accent-red);
}


@media screen and (max-width: 960px){
    .section{
        padding: 32px 16px;
    }
}